.btn {
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--light-color);
  padding: 1em 1.5em;
  border-radius: 5px;
  font-family: "Josefin Sans", sans-serif;
  cursor: pointer;
  transition: 0.3s;
  width: fit-content;
  box-sizing: border-box;
  text-transform: uppercase;
  font-weight: bold;
}

.btn:hover {
  background-color: var(--light-color);
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.btn:disabled:hover {
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--light-color);
}
