main h1 {
  text-align: center;
  color: #eaeaea;
  margin-bottom: 1em;
}

main {
  margin-top: 2em;
  width: 100vw;
  height: 100vh;
  margin: auto;
}

.loader {
  width: fit-content;
  margin: auto;
  margin-top: 3em;
}

.item-list {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  main {
    width: 70vw;
  }

  .item-list {
    flex-direction: row;
  }
}
