main h1 {
  text-align: center;
  color: var(--dark-color);
  margin-bottom: 1em;
}

main {
  margin: auto;
  margin-top: 5.8em;
  width: 100vw;
  height: 100vh;
}

.loader {
  width: fit-content;
  margin: auto;
  margin-top: 3em;
}

.item-list {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .item-list {
    margin: auto;
    width: 75vw;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}
