* {
  margin: 0;
  padding: 0;
}

/* .item {
  color: var(--dark-color);
  padding: 0.5em;
  margin-bottom: 2em;
  box-sizing: border-box;
  display: flex;
  border-radius: 5px;
  transition: box-shadow 0.3s;
} */

.item {
  color: var(--dark-color);
  padding: 0.5em;
  margin-bottom: 2em;
  box-sizing: border-box;
  display: flex;
  border-radius: 5px;
  transition: box-shadow 0.5s, transform 0.3s ease-in-out;
  background: var(--light-color);
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.04);
}

.item:hover {
  transform: translateY(-0.3em);
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
}

.item img {
  width: 50%;
  margin-right: 0.6em;
  border-radius: 5px;
}

.item-text h2 {
  font-size: 1em;
  text-transform: uppercase;
}

.item-text h2::before {
  content: "_";
}

.item-text .extras {
  font-size: 0.6em;
  font-style: italic;
  margin-bottom: 1em;
}

.item-text .price {
  margin-bottom: 3em;
}

.item-container {
  position: relative;
  width: 50%;
}

.item .btn {
  margin: auto;
  position: absolute;
  bottom: 0;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .item {
    width: 30%;
    margin-right: 2%;
  }

  .item:nth-child(2n + 2) {
    margin-right: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}

@media (min-width: 1025px) and (max-width: 1280px) {
  .item {
    width: 30%;
    margin-right: 4%;
  }

  .item:nth-child(2n + 2) {
    margin-right: 0;
  }
}

@media (min-width: 1281px) {
  .item {
    width: 30%;
    margin-right: 2%;
  }

  .item:nth-child(3n + 3) {
    margin-right: 0;
  }
}