* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  margin-top: 5em;
}

.NavBar {
  background-color: black;
  color: #eaeaea;
  width: 100%;
  padding-top: 0.8em;
  position: fixed;
  z-index: 200;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: -20px 0px 5px rgba(0, 0, 0, 1);
}

.container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0em 1em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eaeaea;
}

.Nav-Logo {
  width: 10%;
}

.links {
  margin-bottom: 0.2em;
  order: 1;
  display: none;
  position: absolute;
  top: 51px;
  right: 0;
  background-color: black;
  /* transition: 0.5s; */
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.55);
}

.links button {
  font-size: 0.8em;
  font-family: inherit;
  color: #eaeaea;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  display: block;
  border: none;
  border-bottom: 3px solid transparent;
  transition: 0.3s;
  padding: 1.2em 2em;
  margin: auto;
  width: 100%;
  background-color: transparent;
}

.links button:hover {
  background-color: #ba194b;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  position: relative;
}

.Cart-Widget {
  order: -1;
  margin-right: 1.5em;
}

.menu button.hamburger {
  order: 0;
}

@media only screen and (min-width: 768px) {
  body {
    margin-top: 10em;
    font-size: 18px;
  }

  .Nav-Logo {
    width: 5%;
  }

  .Cart-Widget {
    order: 1;
    margin-right: 0;
  }

  .links {
    order: 0;
    display: block;
    position: relative;
    background-color: transparent;
    top: initial;
    right: initial;
    overflow: visible;
  }

  .links button {
    padding: 0.3em 0.5em;
    margin-right: 0.5em;
    display: inline-block;
    width: auto;
  }

  .links button:hover {
    background-color: transparent;
    border-bottom: 3px solid #ba194b;
  }

  .menu button.hamburger {
    display: none;
    order: 3;
  }

  .container {
    padding-bottom: 1.2em;
    width: 75%;
  }

  .NavBar {
    padding-top: 1.5em;
  }

  .links .active {
    border-bottom: 3px solid #ba194b;
  }
}
