* {
  margin: 0;
  padding: 0;
}

.counter {
  width: fit-content;
  color: var(--dark-color);
  box-sizing: border-box;
  padding: 1em;
}

.counter div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5em auto;
}

.counter div button {
  background-color: transparent;
  border: none;
  font-size: 2em;
  padding: 0em 0.3em;
  cursor: pointer;
  color: var(--primary-color);
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
}

.counter div button:disabled {
  cursor: not-allowed;
}

#qty {
  background-color: #cacaca;
  box-sizing: border-box;
  min-width: 2em;
  text-align: center;
  padding: 0.5em 0em;
  font-size: 1.2em;
  border-radius: 5px;
  cursor: default;
}

.disabled {
  opacity: 0.6;
}

@media only screen and (min-width: 768px) {
}
