* {
  margin: 0;
  padding: 0;
}

.loader {
  width: fit-content;
  margin: auto;
  margin-top: 3em;
}

.item-list {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .item-list {
    flex-direction: row;
  }
}
